main {
    padding-bottom: 50px;
}

body {
    background-image: linear-gradient(to bottom right, #1dc29f, #ace4d6);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table, th, td {
    border: 1px solid black;
}

.strikeThrough {
    text-decoration: line-through;
}