main {
    padding-bottom: 50px;
}

body {
    background-image: linear-gradient(to bottom right, #95cad6, #f4fafb);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
    align-items: flex-start;
}

.flex-container div {
    margin-right: 5px;
    margin-left: 5px;
}

.form-check {
    justify-content: flex-start !important;
}

.fa-2x {
    font-size: 80px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.current-weather {
    align-items: center;
    justify-content: center;
}

.centered-text {
    text-align: center;
    color: #fff;
}

#temperature {
    font-size: 6em;
    padding: 0px;
    margin: 0px;
    line-height: 1;
}

.centered-text h6 {
    color: #aed0dc;
}

#current-weather-container {
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* width: 75%; */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#daily-weather-container {
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#search-bar {
    margin-top: 20px;
}

.daily-weather {
    display: flex;
    flex-flow: row;
}

.daily-weather div {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.daily-weather div:nth-child(-n+4) {
    border: 1px solid #787b7d;
    -webkit-border-image: -webkit-linear-gradient(top, #fff 0%, #575757 50%, #fff 100%)0 100% 0 0 stretch;
}

.daily-weather-icon {
    border: none !important;
}

.blueBackground {
    background-image: linear-gradient(to bottom right, #087195, #3291ac);
}

.daily-weather-background {
    background: #fff;
}

.daily-weather div h3 {
    color: blue;
}

.daily-weather div p {
    color: blue;
}

#current-weather-abbrev-details p {
    margin-bottom: .3em;
}

.current-weather-summary {
    padding-top: 1em;
}

.rain-icon * {
    margin: 4px;
}

.rain-icon .wi {
    font-size: 20px;
}